extends layout

block content
    h2 #{title}
    .row
      form(action='', method='POST')
        .row
          .input-field.col.s12
            input#name(type='text', name='name', required='true', value=(undefined===meme ? '' : meme.name))
            label(for='name') Name
        .row
          .input-field.col.s6
            input#width(type='number', name='width', required='true', value=(undefined===meme ? '' : meme.width))
            label(for='width') Width
          .input-field.col.s6
            input#height(type='number', name='height', required='true', value=(undefined===meme ? '' : meme.height))
            label(for='height') Height
        .row
          .input-field.col.s12
            input#background_color(type='text', name='background_color', required='true', value=(undefined===meme ? '' : meme.background_color))
            label(for='background_color') Background color
        .row
          .input-field.col.s12
            input#image_url(type='text', name='image_url', required='true', value=(undefined===meme ? '' : meme.image_url))
            label(for='image_url') Image URL
        .row
          .input-field.col.s6
            input#image_width(type='number', name='image_width', required='true', value=(undefined===meme ? '' : meme.image_width))
            label(for='image_width') Image width
          .input-field.col.s6
            input#image_height(type='number', name='image_height', required='true', value=(undefined===meme ? '' : meme.image_height))
            label(for='image_height') Image height
        .row
          .input-field.col.s6
            input#image_x(type='number', name='image_x', required='true', value=(undefined===meme ? '' : meme.image_x))
            label(for='image_x') Image position (X)
          .input-field.col.s6
            input#image_y(type='number', name='image_y', required='true', value=(undefined===meme ? '' : meme.image_y))
            label(for='image_y') Image position (Y)
        .row
          .input-field.col.s12
            input#caption(type='text', name='caption', required='true', value=(undefined===meme ? '' : meme.caption))
            label(for='caption') Text
        .row
          .input-field.col.s6
            input#font_size(type='number', name='font_size', required='true', value=(undefined===meme ? '' : meme.font_size))
            label(for='font_size') Font size
          .input-field.col.s6
            input#font_color(type='text', name='font_color', required='true', value=(undefined===meme ? '' : meme.font_color))
            label(for='font_color') Font color
        .row
          .input-field.col.s6
            input#text_x(type='number', name='text_x', required='true', value=(undefined===meme ? '' : meme.text_x))
            label(for='text_x') Text position (X)
          .input-field.col.s6
            input#text_y(type='number', name='text_y', required='true', value=(undefined===meme ? '' : meme.text_y))
            label(for='text_y') Text position (Y)
        button.btn-small.waves-effect.waves-light.blue(type='submit', name='action')
          | Save
          i.material-icons.left add_circle
    .row
      a.btn-small.waves-effect.waves-light.blue(href='/')
        i.material-icons.left arrow_back
        | Back to app