extends layout

block content
    .row(v-if='!meme_list.length') No memes for you!
    .row(v-else)
      ul.collection
        li(is='list', v-for='(meme, index) in meme_list', v-bind:key='index', v-bind:meme='meme', v-on:remove='removeMeme(index)')
    .row
      a.btn-small.waves-effect.waves-light.blue(href='/meme/create')
        i.material-icons.left add_circle
        | Create meme
    .row
      a.btn-small.waves-effect.waves-light.blue(href='/profile')
        i.material-icons.left account_circle
        | Profile
      a.btn-small.waves-effect.waves-light.blue(href='/logout')
        i.material-icons.left exit_to_app
        | Logout
append footer
  script(src='/javascripts/meme.js')
