doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/meme.css')
  body
    #app.container
      h1#app-name MemeGen
      block content
    block footer
      script(src='/javascripts/vue.min.js')
      script(src='/javascripts/axios.min.js')
      script(src='/javascripts/materialize.min.js')
